<a href="https://colab.research.google.com/github/tixomirof/mo2_team_colabs/blob/main/%D0%9C%D0%9E2_%D0%9A%D0%BE%D0%BC%D0%B0%D0%BD%D0%B4%D0%B02_%D0%9B%D0%B0%D0%B102_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Кросс-валидация

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Загрузим датасет, полученный в результате первой лабораторной работы

In [ ]:
df = pd.read_csv("resData.csv")
df.head()

,Unnamed: 0,Employment,YearsCode,YearsCodePro,PreviousSalary,ComputerSkills,Employed,backend_languages,frontend,databases,...,Age_>35,Accessibility_Yes,EdLevel_NoHigherEd,EdLevel_Other,EdLevel_PhD,EdLevel_Undergraduate,Gender_NonBinary,Gender_Woman,MentalHealth_Yes,MainBranch_NotDev
0,0,1,7,4,51552.0,4,0,2,0,1,...,False,False,False,False,False,False,False,False,False,False
1,1,1,12,5,46482.0,12,1,0,5,2,...,False,False,False,False,False,True,False,False,False,False
2,2,1,15,6,77290.0,7,0,5,0,0,...,False,False,False,False,False,False,False,False,False,False
3,3,1,9,6,46135.0,13,0,2,3,3,...,False,False,False,False,False,True,False,False,False,False
4,4,0,40,30,160932.0,2,0,2,0,0,...,True,False,False,False,True,False,False,False,False,True

Разбиваем данные на обучающий и тестовый наборы данных

In [ ]:
X = df.drop('Employed',axis=1)
y = df['Employed']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

Масштабируем данные

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
from sklearn.linear_model import Ridge